<%= form_with model:book, local:true  do |f| %>
<div class="form-group">
  <%= f.label :title, "本のタイトル" %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :book, "感想" %>
  <%= f.text_area :body, class: "form-control" %>
</div>

<div class="text-right">
  <%= f.submit class:"btn btn-primary btn-xs " %>
</div>
<% end %>

