<!DOCTYPE html>
<html>
  <head>
    <title>Meshiterro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
    <main >
    
<div class="container">
  <div class="row d-flex">
    <h1><strong>本のタイトル:</strong> <%=@book.title %></h1>
    

<p><strong> 感想:</strong><%=@book.body %></p>
  </div>
</div>

      <%= link_to "Edit", edit_book_path(@book.id) %>
      |
      <%= link_to "Back", books_path %>


    
</main>

</body>
